<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasty | Products</title>
    <link rel="shortcut icon" href="images\favicon.png"></link>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>

    <!-- navbar -->
    <div class="nav">
        <a href="/"><img src="images\logo_text.png" alt="Treasty"></a>
    </div>

    <!-- products title -->
    <span class="title">Price List</span>

    <!-- product table -->
    <table align="center" class="tbl">
        <tr align="center" valign="center">
            <th>Product</th>
            <th>Packaging</th>
            <th>MRP</th>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Gulkand (made with Khadi Shakkar)</td>
            <td>400 g</td>
            <td>₹137.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>800 g</td>
            <td>₹237.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Tal Mishri (Palm Candy)</td>
            <td>1 kg</td>
            <td>₹140.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>500 g</td>
            <td>₹85.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Rose Water</td>
            <td>550 mL</td>
            <td>₹270.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>200 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Rose Sharbat</td>
            <td>700 mL</td>
            <td>₹285.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Khus Sharbat</td>
            <td>700 mL</td>
            <td>₹285.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Paan Sharbat</td>
            <td>700 mL</td>
            <td>₹285.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Chandan Sharbat</td>
            <td>700 mL</td>
            <td>₹285.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Saunf Sharbat</td>
            <td>700 mL</td>
            <td>₹285.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹145.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Kesar Rose Sharbat</td>
            <td>700 mL</td>
            <td>₹490.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹205.00</td>
        </tr>
        <tr align="center" valign="center">
            <td rowspan="2">Gulkand Thandai</td>
            <td>700 mL</td>
            <td>₹490.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>250 mL</td>
            <td>₹215.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>Jamun Papad</td>
            <td>100 g</td>
            <td>₹310.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>Muri Masala</td>
            <td>100 g</td>
            <td>₹85.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>Sharbat Gift Pack</td>
            <td>250 mL * 3</td>
            <td>₹435.00</td>
        </tr>
        <tr align="center" valign="center">
            <td>Paani ka Achaar</td>
            <td>500 g</td>
            <td>₹175.00</td>
        </tr>
    </table>
</body>
<script>
    document.body.style.backgroundColor = "#fffeb0";
</script>
</html>
